[Unit]
Description=Fix suspend for certain Gigabte motherboards by disabling GPP0 pcie device being able to wake up the computer. See https://bbs.archlinux.org/viewtopic.php?id=271357.

[Service]
ExecStart=/bin/sh -c "echo GPP0 >> /proc/acpi/wakeup"

[Install]
WantedBy=multi-user.target
